.navigation {
  position: relative;
  z-index: 10001;
  width: 100%;
  padding: 1rem 0;
  display: none;
  height: 15vh;

  background: rgb(247, 177, 176);
  @media (min-width: 1000px) {
    display: block;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__brand {
    img {
      max-width: 10rem;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__menu {
    p {
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: var(--fw-semi-bold);
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__socials {
    ul {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      li {
        list-style: none;
      }
    }
  }
}
